*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
fastlane/report.xml
fastlane/Pluginfile
fastlane/README.md
.externalNativeBuild
.cxx
github_credentials.properties
github_credentials.properties.sample
github_credentials.properties.sample
